@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
#jssor_1{position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;}
.slider-content{cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;}
.img-title-content{position: absolute; top: 300px; left: 43%; font-size:2.4em; color:#fff; width: 250px;}
.jssorb051{position:absolute;bottom:12px;right:12px;}
.jssorb051 .i {position:absolute;cursor:pointer;width:16px;height:16px;}
.jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
.jssorb051 .i:hover .b {fill-opacity:.7;}
.jssorb051 .iav .b {fill-opacity: 1;}
.jssorb051 .i.idn {opacity:.3;}
.jssorb051 svg, .jssora051 svg {position:absolute;top:0;left:0;width:100%;height:100%;}
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}
.jssorl-009-spin img {animation-name: jssorl-009-spin;animation-duration: 1.6s;animation-iteration-count: infinite;animation-timing-function: linear;}
.arrow-left{width:65px;height:65px;top:0px;left:35px;}
.arrow-right{width:65px;height:65px;top:0px;right:35px;}
.f-s-40{font-size: 40px;}
@keyframes jssorl-009-spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); }}