* { -webkit-box-sizing: border-box; box-sizing: border-box; }
body{font-family: baskerville !important; margin: 0;}
@font-face {
    font-family: 'baskerville';
    src: url('../fonts/baskerville.ttf');
}
.navbar.fixed-color { background-color: #80512f73; }
.navbar.navbar-white { background-color: #FFFFFF; }

.grid {
    position: relative;
    height: 300px;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 100%;
    height: 300px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

.half img{
    height: 200px;
    width: 100%;
}

/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

figure.effect-chico:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-chico figcaption {
    padding: 3em;
}

figure.effect-chico figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
    padding: 20% 0 20px 0;
}

figure.effect-chico p {
    margin: 0 auto;
    max-width: 200px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #fff;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-ruby {
    background-color: #17819c;
}

figure.effect-ruby img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

figure.effect-ruby:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-ruby h2 {
    margin-top: 20%;
    color: #fff;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-ruby p {
    margin: 1em 0 0;
    padding: 3em;
    border: 1px solid #fff;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0) scale(1.1);
    transform: translate3d(0,20px,0) scale(1.1);
} 

figure.effect-ruby:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-ruby:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}

figure.effect-ruby figcaption{
    padding-top: 0;
}

.grid figure.effect-ruby figcaption{
    padding: 0.8em;
}

/*-----------------*/
/***** Goliath *****/
/*-----------------*/

figure.effect-goliath {
    background: #b7986d;
}

figure.effect-goliath img,
figure.effect-goliath h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-goliath img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-goliath h2,
figure.effect-goliath p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
}

figure.effect-goliath p {
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
}

figure.effect-goliath:hover img {
    -webkit-transform: translate3d(0,-80px,0);
    transform: translate3d(0,-80px,0);
}

figure.effect-goliath:hover h2 {
    -webkit-transform: translate3d(0,-100px,0);
    transform: translate3d(0,-100px,0);
}

figure.effect-goliath:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


@media screen and (max-width: 25em) {
    .codrops-header {
        font-size: 75%;
    }
    .codrops-icon span {
        display: none;
    }
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    border-radius: 50%;
    border: 3px solid #7acd00;
    padding: 15px;
    color: black;
}

h1, h2{
    color: #3e1900;
    align-self: center;
    text-transform: uppercase;
    font-weight: 600;
}

h1 span{
    font-family: Constantia, serif!important;
    text-transform: none;
    font-weight: normal;
    font-size: 1.5em;
}

h1 .green{
    color: #7acd00;
}

.margintop{
    margin-top: 170px;
}

footer{
    padding: 3em 0;
    width: auto;
    background: #1a1a1a;
    margin-top: 100px;
}

footer p{
    color: white;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    bottom: -37px;
    right: 0;
    
}

.more{
    align-self: center;
    margin-top: 20px;
    border: 1px solid rgb(62, 25, 0);
    background: transparent;
}

.more a,.more a:hover, .more a:focus{
    color: rgb(62, 25, 0) !important;
}

.margin{
    margin-top: 30px;
    margin-bottom: 50px;
}

.contn{
    background: rgba(62, 25, 0,0.5)!important;
}

.contn:focus{
    box-shadow: none!important;
}

.contn a, .contn a:hover, .contn a:focus{
    color: #f2f2f2!important;
    font-size: x-large;

    padding:0.5em 2em;
}

.fa-caret-right{
    color:rgb(62, 25, 0);
    border-radius: 100%;
    border:2px solid #7acd00;
    padding: 0 9px;
    float: right;
}

.carousel-caption{
    right:-50%;
    bottom: 30%;
}

.capt .carousel-caption{
    right: -25%;
    bottom: 15%;
}

.explore{
    position: absolute;
    left: 2%;
    bottom: 75%;
    font-size: 3em;
    color: #f2f2f2;
    font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;

}

.whychooseus{
    min-height: 500px;
    padding-bottom: 150px;
    background:url('../img/map.png'); 
    background-size: 100%;
    background-repeat: no-repeat;
}

.whychooseus .col-4{
    margin-bottom: 50px;
}

.your-local{
    position: absolute;
    top: 50%;
    left: 40%;
   
 animation: 1.8s textAnim;
}

@keyframes textAnim{
    0%{
        opacity: 0;
        margin-left: 50px;
    }
    100%{
        opacity: 1;
        margin-left: 0;
    }
}

.bg .col-4 div{
    border: 3px solid rgba(122, 205, 0,0.5); 
    border-radius: 12px;
    width: 100%;
    padding: 1em 1em;
    font-weight: bold;
    font-size: large;
    float: left;
}

.bg .col-4 div:hover{
    background: rgba(122, 205, 0, 0.5)!important;
    color: #fff;
    transition: 0.66s background;
}

.whychooseus h1, .whychooseus h2{
    color: black;
    font-family: Constantia, serif;
    text-transform: none;
    font-weight: normal;
}

.hi-icon-wrap {
	text-align: center;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 0px 15px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-effect-3 .hi-icon {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
    transition: color 0.3s;
    box-shadow: 0 0 0 1px rgba(255,255,255,1);
}

.hi-icon-effect-3 .hi-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
	-moz-transition: -moz-transform 0.2s, opacity 0.3s;
	transition: transform 0.2s, opacity 0.3s;
}

.hi-icon-effect-3b .hi-icon {
	color: #fff;
}

.hi-icon-effect-3b .hi-icon:hover {
	color: #f06060;
}

.hi-icon-effect-3b .hi-icon:after {
	-webkit-transform: scale(1.6);
	-moz-transform: scale(1.6);
	-ms-transform: scale(1.6);
	transform: scale(1.6);
	opacity: 0;
}

.hi-icon-effect-3b .hi-icon:hover:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 1;
}

.icon{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.contact{
    color: rgb(62, 25, 0);
    margin-top: 10px
}

.contact input,.contact input:hover, .contact input:focus, .contact .btn{
    border-radius: 0;
    background:  rgba(62, 25, 0,0.3) !important;
    color: rgb(62, 25, 0);
    border:none!important;
    box-shadow: none!important;
}

.contact .btn{
    margin-top: 20px;
    padding: 0.5em 3em;
    background: none !important;
    border: 1px solid rgba(62, 25, 0,0.3) !important;
}

.contact .btn:hover, .more:hover{
    background:  rgba(62, 25, 0,0.3) !important;
    transition: 0.66s background;
    color: #fff;
}

.more:hover a{
    color: #fff !important;
}

.contact input{
    padding-bottom: 20px;
}

.descr input{
    padding-bottom: 100px;
}

.contact h2, .contact h1{
    font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
    font-weight: 400;
    margin-left: 0;
}

.small-font{
    font-size:large;
}

.small-font div{
    margin-bottom: 51px;
}

.social{
    align-content: center;
    border-radius: 12px;
    background: rgba(62, 25, 0,0.2)!important;
    padding: 0.6em 0.3em;
    max-width: 365px;
}

.details-share-btns{max-width: 255px;}

.small-font .smicon{
    width: 1em;
    height: auto;
    margin-right: 10px;
}

.footer-contact .smicon{
    width: 1.4em;
}
.footer-data-content{ max-width: max-content; margin: auto; }
footer.container-fluid.row{
    margin-right: 0;
    margin-left: 0;
}
.footer-social .icon{
    margin-bottom: 10px;
}

.footer-contact{
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.packagis-title{
    color:white;
}
.tour-btn span{
    padding: 1.7em 2.7em;
    background: #e6e6e6!important;
    border:2px #7acd00 solid;
    border-radius: 12px; 
    font-size: large;
    z-index: 7777;
}

.tour-btn .selectedItem{
    font-size: x-large;
    border: 2px #e6e6e6 solid;
    background: #7acd00!important;
}

.content-box{
    border: 2px #7acd00 solid;
    padding-top: 2em;
    padding-bottom: 4em;
    margin-bottom: 100px;
    margin-top: 100px;
}
.details-content { margin: 50px auto 0; }
.offers{
    margin-bottom: 100px;
    margin-top: 70px;
}

.offers img{
      width: 100%;
      height: auto;
      opacity: 1;
      display: block;
      transition: .5s ease;
      object-fit: cover;
      height: 250px;
}

.offers .col-4{
    margin-top: 20px;
    cursor: pointer;
}
.smicon{

    font-size: 15px;
}
.smicon-phone{
    font-size: 20px;
    
}
#ph{
   
}
.middle {
  width: 90%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.offers .col-4:hover img {
  opacity: 0.7;
}

.offers .col-4:hover .middle {
  opacity: 1;
}

.text {
  width: 100%;
  align-self: center;
  color: white;
  font-size: 16px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.mid{
    margin-top: 50px!important;
}

.price{
    position: relative;
    background: #7acd00;
    border-radius: 12px;
    width: 120px;
    border-radius: 14px;
    padding: 16px;

}
.whychooseus{
    margin-top: 105px;
}
.book{
  
    padding: 0.7em 2em;
    border: 1px solid #7acd00;
    border-radius: 12px;
    box-shadow: none!important;
    background: transparent;
    transition: 0.5s background;
}

.book:hover{
    background: rgba(122,205,0, 0.7);
    color: #fff;
}

.pagination li{
    margin-right: 5px;
}

.pagination li span, .pagination li a,.pagination li a:focus,.pagination li a:hover{
    background: #f2f2f2;
    border: 1px #7acd00 solid;
    color: #333;
    border-radius: 3px;
    padding: 0.5em 1em;
}

.pagination li span{
    color: #808080;
}

.pagination li.disabled .pagination li, .pagination li.active .pagination li{
    background: #7acd00;
    border: 1px #e6e6e6 solid;
    color: #282828;
}

.m-top{
    margin-top: 30px; 
}

.pagination-content{
    margin-top: 40px;
}

.pagination{
    margin-top: 4%;
}

.about{
    margin-top: 30px;
    margin-bottom: 40px;
}

.about h2{
    color: #7acd00;
    margin-bottom: 30px;
    text-transform: none!important;
}

.overlap-img img{
    height: 200px;
    width: auto;
}

.overlap-img .second{
    margin-top: -80px;
    margin-left: 100px;
}

.overlap-img .third{
    margin-top:-60px;
}
.m-bottom{
    margin-bottom: 30px;
}

.map-overlay{
    color: white;
    background: rgba(62, 25, 0,0.67);
    position: absolute;
    top:0;
    left: 15px;
    z-index: 333;
    height: 300px;
    width: 25%;
    text-align: center;
    padding-top: 32px;
    /*padding: 2.6em 1.5em;*/
}

.map-overlay h2{
    color: white!important;
    text-transform: none!important;
    margin-top: 40px;
}

.image-overlay{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em 1em;
    font-size: x-large;
    background: rgba(62, 25, 0,0.5);
    color: white;
    border-left:2px solid #7acd00; 
}

.date-price{
    background:#7acd00;
    border-radius: 12px;
    font-weight: bold;
    position: absolute;
    width: 25%;
/*  height: 170px;*/
    border: 2px #e6e6e6 solid;
    margin-top: -30px; 
}

.package{
    width: 72%;
    height: auto;
    float: right;
}

.package img{
    width: 100%;
}

.package .icon{
    width: 1.5em;
    height: auto;
}

.date-price p{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.day-night{
    margin-bottom: 50px;
}

.packages{
    padding-bottom: 40px;
    border-bottom: 3px rgb(62, 25, 0) solid;
    margin-top: 70px;
}

.details-current{
    width: 100%;
    height: auto;
    border-bottom: 3px #7acd00 solid;
}
/*Slick slider start*/
.main {
  width:100%;
  display:block;
  margin:0 auto;
  margin-bottom: 30px;
}

.slider-for img {
    width: 100%;
}

.slider-nav{
    margin-top: 2%;
}

.slider-nav img{
    width: 90%;
    cursor: pointer;
    /*margin-top: 10px;*/
}

.slider-nav .slick-slide:focus{
    outline: none!important;
}

.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}

.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}

.action a:hover{
  background:#000;
}

.slick-next:before, .slick-prev:before, .slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover{
    color: #282828;
}

.category-slide:nth-child(2) {
    transform: translate(-118.25%,-50%);
    z-index: 1;
}

.category-slide:nth-child(3) {
    z-index: 2;
    transform: translate(-50%,-50%) scale(1.1);
}

.category-slide:nth-child(4) {
    transform: translate(18.25%,-50%);
    z-index: 1;
}

.category-slide a {
    text-decoration: none;
    color: white!important;
}
/*Slick slider end*/
.details h2{
    text-transform: none!important;
}


#container2 span, #container2 .item{ 
    cursor:pointer; 
}

.flags{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3;
}

.flag{
    display: inline;
    margin-left: 30px;
}
body{
    background-color: #F7F4F0;
}
.send{
    background-color: rgba(62, 25, 0, 0.8)!important;
    color:white;
    border-radius: 12px;
    padding: 0.3em 2.5em;
}

.modal-header{
    border-bottom: none!important;
}

.modal-footer{
    border-top: none!important;
}

.modal-body{
    width: 100%;
    align-self: center;
    border-top: 2px rgba(62, 25, 0, 0.8) solid;
}

.modal-body .form-control{
    border-radius: 12px;
    border: 1px solid #7acd00;
}

#description{
    height: 70px;
}

.red{
    color: red;
}

.breaks img{
    width: 100%;
}

.breaks .icon{
    width: 1em;
    width: auto;
}

.modal-price{
    position: absolute;
    right: 12%;
    top: 5%;
}

.events{
    margin-bottom: 40px;
}

.events .card-div{
    background-color: #f2f2f2;
    padding: 10px 15px;
    box-shadow: 8px 8px 20px #bfbfbf;
    width: 88%;
}

.events img{
    width: 90%;
}

.events a{
    color: black;
}

.right{
    text-align: right;
}

.event-overlay{
    position: absolute;
    left: 0;
    top:-10%;
    background: rgba(122, 205, 0, 0.7);
    text-align: center;
    color: white;
    padding: 3em 0.3em;
    font-weight: bold;
}

div.price{
    margin-bottom: 40px;
    margin-top: 20px;
}

.breaks-margin{
    margin-top: 120px; 
    margin-bottom: 120px;
}

.m-10{
    margin-bottom: 10px;
}

.text b{
   overflow: hidden;
   text-overflow: ellipsis;
}

.container-info { position: relative; }
.container-info #googleMap { width:100%; height:300px; }
.mt-100 { margin-top: 100px; }
.cat-link { text-decoration: none; color: white; }
.container-header { margin-top: 120px; margin-bottom: 120px; }
.mb-10 { margin-bottom: 10px; }
.mb-50 { margin-bottom: 50px; }

.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {

    background-size: cover;
    background-position: center;
}
.swiper-slide :hover{
    border :1px solid red;
    background-size: cover;
    background-position: center;
}
.gallery-top {
    height: 300px;
    width: 100%;
}

.gallery-thumbs {
    height: 100px;
    box-sizing: border-box;
    margin: 20px 0 0 0;
}

.details-main-pic { width: 100%; }

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide {
    opacity: 1;
}

h5{
    color: #757575;
}

h3{
    text-transform: capitalize;
}

.category-item-list {
    list-style: none;
    background: white;
    width: 100%;
    display: inline-block;
    position: relative;
    top: 0;
    padding: 10px;
    text-align: center;
}
.cont{
    margin-top: -105px;
}
.category-item{
    display: inline-block;
    margin-right: 15px;
}

.category-item-link{
    font-size: 1em;
    font-weight: medium;
    color: #000000;
}

.category-item-link:hover,
.category-item-link.selected{
    color:#b7986d;
}
.category-item-list .before{
   color:#b7986d;
   margin-left: 10px;
}
.category-item-list > .category-item:last-child > .before {
    display: none;
}
.developed-by{
    bottom: 0;
}

.best-offers-header{
    margin-top: -110px;
    text-transform: unset;
    letter-spacing: 2px;
    color: #3e1900 !important;
    font-weight: unset;
}

.about-us-text{
    width: 70%;
}

.headerImg{
    position: relative;
}

@media screen and (min-width: 1024px){
    .navbar .active{
        border-bottom: 3px solid #3e1900;
    }

    .navbar-brand{
        margin-left: 40px;
    }
    
    .navbar-nav{
        margin-left: 14vw;
    }
    
    .nav-item{
        margin-left: 20px;
        border-bottom: 3px solid transparent;
    }

    .nav-item:hover{
        border-bottom: 3px solid #3e1900;
        transition: 0.5s border;
    }

    .transparent{
    background: transparent!important;
    background-image: none!important;
    text-transform: uppercase;
    font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
    }

    .navbar.fixed-top {
        background-image: none !important;
        text-transform: uppercase;
        font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
    }

    .transparent a, .navbar.fixed-top a {
        color: white!important;
        font-weight: 600;

    }
}

@media screen and (max-width: 1024px){
    .nav-link{
        color: rgb(62, 25, 0);
    }
}

@media screen and (max-width: 50em) {
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}
  #line{
    width: 100%;
  }
  .page-wrap {
    max-width: 75rem;
    margin: 0 auto;
  }
  
  h1 {
    color: lawngreen;
    font-size: 1.5rem;
    letter-spacing: -1px;
    margin: 1.25rem 0;
  }
  
  input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 1em;
    color:rgb(62, 25, 0);
    top: -2.25rem;
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  }
   .left{
       width: 45%;
   }
  .rigth{
   float: right;
   width: 45%;
  
  }
  .styled-input {
    float: left;
    width: 50%;
    margin: 2rem 0 1rem;
    position: relative;
  }

  #bookmodal {
      z-index: 2000;
  }
  .styled-input label {
    color:white;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
  }
  .styled-input.wide {
    width: 100%;
  }
  
  input, textarea {
    opacity: 0.5;
    background-color: white ;
    padding: 1rem 1rem;
    border: 0;
    width: 100%;
    font-size: 1rem;
  }
  input ~ span, textarea ~ span {
    display: block;
    width: 0;
    height: 3px;
    background:rgb(62, 25, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  }
  input:focus, textarea:focus {
    outline: 0;
  }
  input:focus ~ span, textarea:focus ~ span {
    width: 100%;
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  }
  label{
      font-size: 15px;
      padding-top:5px ;
  }
  textarea {
    width: 100%;
    min-height: 8em;
  }
  .page-wrap{
    width: 500px;
  }
  .wide{
      background-color:rgba(62, 25, 0,0.3)
  }
  .styled-input { font-size: 1rem; }
  .buttonSend{float: right}
  .title{
       font-family: 'Markazi Text', serif;
       font-size:2rem;
      }
  #Title{
    font-family: 'Markazi Text', serif;
    font-size:2rem;
  }
  #Title1{
    font-family: 'Markazi Text', serif;
    font-size:2rem;
  }
  .footerContact{
      margin-top: 10px;
  }
  .a{
    margin-top:50px;
  }
  .green{
      font-size: 70px
  }
  .f{
    color:#3e1900;
    font-size: 70px;
  }
  .bookNowInput{       
    background: inherit;
    background-color: #757575
}

.category-item-link:hover,
.category-item-link:active{
    color:#b7986d;
    border:solid inherit;
}
.grid{
   margin-top:20px;
}
#googleMap{
    width: 1000px;
    height: 1000px;
}
.toursRow{
    margin-top:-105px; 
}
.tit{
    margin-top: 100px; 
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.events-title{
    color: white;
}
#full{
    width: 100%;
}
#left-inp{
    width: 45%;
}
#right-inp{
    width: 45%;
    float:right;
}

.logo{
    width:218px;
}

@media only screen and (max-width: 600px) {
    
    .book{
        margin-top: 20px;
    } 
    .logo{
        width:100px;
    }
    .icon{
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .contacts{
    margin-top: 20px;
    }
    .bg .col-4 div {
        height: 134px;
        border: 3px solid rgba(122, 205, 0,0.5);
        border-radius: 12px;
        width: 115%;
        padding: 0.8em 0.8em;
        font-weight: bold;
        font-size: large;
        float: left;
    }
    .foot{
        margin-top: 20px;
    }
    .navbar-light .navbar-nav .nav-link {
        color:black;
    }
    #text2{
        display: none;
    }
}
@media only screen and (max-width: 885px) {
    .green,.f{
        display: none;
    }
    .bg .col-4 div {
        height: 134px;
        border: 3px solid rgba(122, 205, 0,0.5);
        border-radius: 12px;
        width: 115%;
        padding: 0.8em 0.8em;
        font-weight: bold;
        font-size: large;
        float: left;
    }
}
.panel{
    borfootder: solid 2px green;
    border-radius:20px;
    margin-top:5px;
    padding:  5px;
    
   } 
 .panelik{
    display: inline;
}
a:hover {
    text-decoration: none;
}
.head-style-1 {
    text-align: center;
    position: relative;
    line-height: 1.5;
  }
  .head-style-1::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
  
  }
  .head-style-1::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: #3e1900;
  
  }
  .head-style-11 {
    padding: 19px;
    text-align: center;
    position: relative;
    line-height: 3;
  }
  .head-style-11::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
  
  }
  .head-style-11::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color:#3e1900;
  
  }
  #send{
      float: right;
  }
#butt{
    border-radius:0;
    box-shadow: none;
    width: 100px;
    border:1px solid black;
    background-color: white;
    color:black
}
#butt:hover{
    border-radius: 0;
    box-shadow: none;
    background-color:lightgrey;
    color:white;
}
.pagination{
    margin-left: 42%;
}

.pagination li span, .pagination li a, .pagination li a:focus, .pagination li a:hover {
    height: 5px;
    background: #f2f2f2;
    border: 1px #3e1900 solid;
    color: #333;
    border-radius: 3px;
    padding: 0.01em 0.2em;;
}

/*---------------*/
/***** Sarah *****/
/*---------------*/

figure.effect-sarah {
	background: #42b078;
}

figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.site{
    color: #b7986d;
}
.site:hover{
    color:goldenrod;
}
#about-title{
    color: #3e1900
}

.head-style-111 {
    padding:-5px;
    text-align: center;
    position: relative;
    line-height: 2;
  }
  .head-style-111::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
  
  }
  .head-style-111::after {
    content: "";
    position: absolute;
    width: 5%;
    height: 2px;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color:#3e1900;
  
  }
.gallery-thumbs > .swiper-wrapper {width: 95%;}