.slider-modal.show {
    padding-right: 0px !important;
}
.r, .l{
	position: absolute;  
    cursor: pointer;
    font-size: 60px;
    color: #FFFFFF;
    z-index: 1;
}
.pos-abs{position: relative;}
/* The Modal (background) */
.slider-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.slider-modal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border: none;
    border-radius: 0;
}
/* The Close Button */
.slider-modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.slider-modal .close:hover,
.slider-modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* Add Animation */
.modal-content, .caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
/* Caption of Modal Image */
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.show-full-screen { cursor: pointer; }
.show-full-screen:hover {opacity: 0.7;}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .slider-modal .modal-content {
        width: 100%;
    }
}